# Ignore .DS_Store
**/.DS_Store

# Ignore everything
/*

# Whitelist specific files/directories
!uixskills/
!public/
!docs/
!functions/
!uixskill.json
!README.md
!.gitignore
!packages/
packages/uixskills/node_modules/
packages/uixskills/dist/
